DRIVER='mysql'
HOST='localhost'
USER='root'
PASS='root'
DB='mydb'

HASHING_ALGORITHM='bcrypt'
MIN_PASSWORD_LEN=8

# This is the fields from the database used for authentication.
# It should always contain two values were the second value
# MUST be the password field.
AUTH_FIELDS='email|password'